<div class="row align-items-center justify-content-center">
    <h1>Université <img id="unz" src="/CLIENT/Assets/img/logo-unz.png" alt="UNZ" class="img-fluid img-circle" style="max-width: 50px;"> NORBERT ZONGO</h1>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-navbar">
    <a class="navbar-brand" href="/CLIENT/Src/Public/Home/home.html">
        <img id="cin" src="/CLIENT/Assets/img/CIN.jpg" alt="CIN" class="img-fluid" style="max-width: 50px;"> CIN
    </a>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarNav" aria-labelledby="navbarLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title d-flex" id="navbarLabel" style="color: white;">
            <img id="cin" src="/CLIENT/Assets/img/CIN.jpg" alt="CIN" class="img-fluid" style="max-width: 50px;">Club les Intéllos du Numérique
            </h5>
            <button type="button" class="btn-close bg-primary" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item"><a class="nav-link" href="/CLIENT/Src/Public/Home/home.html">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="/CLIENT/Src/Public/Events/events.html">Formations</a></li>
                <li class="nav-item"><a class="nav-link" href="/CLIENT/Src/Public/Blog/blog.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/CLIENT/Src/Public/Membership/membership.html">Adhésion</a></li>
                <li class="nav-item"><a class="nav-link" href="/CLIENT/Src/Public/About/about.html">À propos</a></li>
            </ul>
        </div>
    </div>
    <a href="/CLIENT/Src/Public/Login/login.html" class="login-button">Se connecter</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle-navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>